{% extends 'base.html' %}
{% block content %}
  <a class="button is-primary" href="{{ url_for('create_equipo') }}">Nuevo equipo</a>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Ciudad</th>
        <th>Estadio</th>
        <th>Entrenador</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for e in equipos %}
      <tr>
        <td>{{ e.id }}</td>
        <td>{{ e.nombre }}</td>
        <td>{{ e.ciudad }}</td>
        <td>{{ e.estadio }}</td>
        <td>{{ e.entrenador }}</td>
        <td>
          <a class="button is-small is-warning" href="{{ url_for('edit_equipo', id=e.id) }}">Editar</a>
          <form style="display:inline" method="post" action="{{ url_for('delete_equipo', id=e.id) }}">
            <button class="button is-small is-danger" type="submit" onclick="return confirm('¿Eliminar?')">Eliminar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
